<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    #map {
      height: 400px;
    }
    </style>
    <script>
    $(document).ready(function() {
        var refreshData = debounce(function() {
            $.ajax({
                url: '/data',
                type: 'GET',
                success: function(response) {
                    // Update the data container with the new data
                    $('#data-container').html($(response).find('#data-container').html());
                    updateMarkers();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }, 5000);

        // Debounce function to limit the rate of function execution
        function debounce(func, delay) {
            var timeout;
            return function() {
                clearTimeout(timeout);
                timeout = setTimeout(func, delay);
            };
        }

        // Call the refreshData() function to start the initial data update
        refreshData();

        var map = L.map('map').setView([0, 0], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
          maxZoom: 18,
        }).addTo(map);

        {% for item in data %}
        var value = {{ item.value }};
        var color = getColor(value);
        var marker = L.circleMarker([{{ item.latitude }}, {{ item.longitude }}], {
          radius: 5,
          fillColor: color,
          color: '#000',
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8
        }).addTo(map);
        marker.bindPopup(
          "Value: " + value + "<br>" +
          "Longitude: {{ item.longitude }}<br>" +
          "Latitude: {{ item.latitude }}"
        );
        {% endfor %}
    });

    function getColor(value) {
        if (value >= 0 && value < 3) {
            return 'green';
        } else if (value >= 3 && value < 7) {
            return 'yellow';
        } else if (value >= 7 && value <= 10) {
            return 'red';
        } else {
            return 'blue'; // Default color if value is outside the specified range
        }
    }
    </script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"> Home </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/data">Data</a>
                    </li>
                {% if 'username' not in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="data-container">
        <div id="map"></div>
        <a href="javascript:history.go(-1)">Go Back</a>
    </div>
</body>
</html>
