<!DOCTYPE html>
<html>
<head>
    <title>Data</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        // Function to refresh the data
        var refreshData = debounce(function() {
            $.ajax({
                url: '/data',
                type: 'GET',
                success: function(response) {
                    // Update the data container with the new data
                    $('#data-container').html(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }, 5000);

        // Debounce function to limit the rate of function execution
        function debounce(func, delay) {
            var timeout;
            return function() {
                clearTimeout(timeout);
                timeout = setTimeout(func, delay);
            };
        }

        // Call the refreshData() function to start the initial data update
        refreshData();
    });
    </script>
</head>
<body>
    <div id="data-container">
        <h2>Data</h2>
        {% for item in data %}
        <ul>
            <li>
                gyroX: {{ item.gyroX }}, gyroY: {{ item.gyroY }}, gyroZ: {{ item.gyroZ }},
                accelerometerX: {{ item.accelerometerX }}, accelerometerY: {{ item.accelerometerY }}, accelerometerZ: {{ item.accelerometerZ }},
                longitude: {{ item.longitude }}, latitude: {{ item.latitude }}, timestamp: {{ item.timestamp }}
            </li>
        </ul>
        {% endfor %}
        <a href="javascript:history.go(-1)">Go Back</a>
    </div>
</body>
</html>