<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
    #map {
      height: 400px;
    }
    </style>
    <script>
    $(document).ready(function() {
        var refreshData = debounce(function() {
            $.ajax({
                url: '/data',
                type: 'GET',
                success: function(response) {
                    // Update the data container with the new data
                    $('#data-container').html($(response).find('#data-container').html());
                    updateMarkers();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }, 5000);

        // Debounce function to limit the rate of function execution
        function debounce(func, delay) {
            var timeout;
            return function() {
                clearTimeout(timeout);
                timeout = setTimeout(func, delay);
            };
        }

        // Call the refreshData() function to start the initial data update
        refreshData();

        var map = L.map('map').setView([46.1512, 14.9955], 7);


        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
          maxZoom: 18,
        }).addTo(map);

        {% for item in data %}
        var value = {{ item.value }};
        var color = getColor(value);
        var marker = L.circleMarker([{{ item.latitude }}, {{ item.longitude }}], {
          radius: 5,
          fillColor: color,
          color: '#000',
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8
        }).addTo(map);
        marker.bindPopup(
          "Value: " + value + "<br>" +
          "Longitude: {{ item.longitude }}<br>" +
          "Latitude: {{ item.latitude }}"
        );
        {% endfor %}
    });

    function getColor(value) {
        if (value >= 0 && value < 3) {
            return 'green';
        } else if (value >= 3 && value < 7) {
            return 'yellow';
        } else if (value >= 7 && value <= 10) {
            return 'red';
        } else {
            return 'blue'; // Default color if value is outside the specified range
        }
    }

    function confirmLogout() {
    var logout = confirm("Do you want to logout?");
    if (logout) {
        $.ajax({
            url: '/logout',
            type: 'POST',
            success: function() {
                window.location.href = "/";
            },
            error: function(error) {
                console.log(error);
            }
        });
        }
    }

    </script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: rgba(255, 255, 255, 0.8);">
        <a class="navbar-brand" href="/"><i class="fas fa-wave-square"></i><b>Road-Analyzer</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if 'username' not in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/mydata">My data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="confirmLogout()">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="data-container" class="pt-5">
        <img src="{{ url_for('static', filename='avtocesta.jpg') }}" alt="Autoban" style="width:100%;">
        <div class="row">
            <div class="col-md-6">
                <h2 class="map-title">Mapa</h2>
                <div id="map"></div>
            </div>
            <div class="col-md-6">
                <h2 class="card-title">What is Road-Analyzer?</h2>

                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            Road-Analyzer je aplikacija za vizualizacijo in analizo podatkov o cestah. <br>
                            Omogoča vam ogled podatkov na interaktivni mapi in izvajanje različnih analiz na podlagi teh podatkov. <br><br>
                            Z Road-Analyzerjem lahko pridobite dragocene vpoglede v stanje cest, njihovo uporabo in druge pomembne informacije. <br>
                            Projekat so delali študenti Univerze v Maribor, oz. Luka Balaban, Marsel Štefić in Uroš Škof
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <canvas id="myChart"></canvas>
            </div>        
        </div>
    </div>

    <script>
        // Initialize the chart
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['0-3', '3-7', '7-10'],
                datasets: [{
                    label: 'Number of Data Points',
                    data: [{{ counts['0-3'] }}, {{ counts['3-7'] }}, {{ counts['7-10'] }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)', // Color for '0-3'
                        'rgba(255, 206, 86, 0.2)', // Color for '3-7'
                        'rgba(255, 99, 132, 0.2)' // Color for '7-10'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)', // Color for '0-3'
                        'rgba(255, 206, 86, 1)', // Color for '3-7'
                        'rgba(255, 99, 132, 1)' // Color for '7-10'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    
</body>
</html>
